<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="container__header">
            <!-- Contenedor para el logo de la pagina -->
            <div class="logo">
                <img src="" alt="">
            </div>
            <!-- Contenedor para el menú de navegación -->
            <div class="menu">
                <na>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </na>
            </div>
            <!-- Contenedor para boton registrar -->
            <div class="header__register">
                <input type="button" class="btn__header-register" value="Registrarse">
            </div>
        </div>
    </header>
    
    <main>
        <!-- Contenedor para el cover -->
        <div class="cover">
            <div class="text__information-cover">
                <h1>Software Enginer</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque iusto perspiciatis aliquam 
                    omnis! Cum asperiores rerum natus voluptatum quae nihil dolores reiciendis, quo obcaecati provident tempora 
                    non fuga. Tenetur?</p>
                <div class="buttons__cover">
                    <input type="button" class="btn__register-cover" value="Registrar">
                    <input type="button" class="btn_readMore-cover" value="Leer más">
                </div>
            </div>
            <div class="media__cover">
                <img src="media/iglesia.jpg" alt="">
            </div>
        </div>
        <!-- Contenedor para banner -->
        <div class="container__banner">
            <div class="banner">
                <div class="banner__icon-heart">
                    <img src="" alt="">
                </div>
                <div class="banner__icon-fire">
                    <img src="" alt="">
                </div>
                <div class="banner__text">
                    <h2>Soy egresado de la carrera Licenciatura en Ingeniería de Software</h2>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </main>

</body>
</html>